# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
ripple_server

# Environment files
server/.env
client/.env
.env
.env.local

# Dependency directories
node_modules/
client/node_modules/

# IDEs/System
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
ehthumbs.db

# Build outputs
client/dist/
dist/

# Log files
*.log

